[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-latex-live-preview"]
	path = bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule "/Users/samyakshah/.vim/bundle/gruvbox"]
	path = /Users/samyakshah/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
